<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <div class="loginHeading1"><span class="brand-style-blue">Cognizant</span>&nbsp;<span class="brand-style-green">Outreach</span></div>
                            <p class="text-muted mb-4 faded-text-color">Feedback management system</p>
                            <!--<form>-->
                            <form role="form" (submit)="login()">
                                <div class="form-group">                                   
                                    <input type="text" class="form-control"  id="email" placeholder="Email Address">
                                </div>
                                <div class="form-group">                                   
                                    <input type="password" class="form-control"  id="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" value="lsRememberMe" id="rememberMe" style="display: inline-block;"> &nbsp;
                                    <label>Remember me</label>
                                </div>
                                <!--<div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 shadow-sm btn-green">SIGN ME IN</button>
                                </div>-->
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 shadow-sm btn-green">Sign me in</button>
                                <div class="form-group">
                                    Interested in Outreach?Click here to register for next event.
                                </div>
                                <footer>&copy; Cognizant Outreah All Rights Reserved 2019</footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>